* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  text-align: center;
}

.cat-image {
  max-width: 600px;
  max-height: 500px;
  height: auto;
}

#join-room, #cat-area {
  margin: 1.5em 0;
}

button {
  font-size: 16px;
  line-height: 18px;
}